

*{

    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    background: url(pics/better.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{

    width: 86%;
    display:flex;
    margin:auto;
    padding:15px 0;
    align-items: center;
    justify-content: space-between;
    /* font-family: sans-serif; */

}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight:bold;
    text-decoration: none;
    color: white;
    margin-top: -3%;
}

ul li a:hover{
    color: blue;
}

.heading{
    margin-left: 7%;
    margin-top: 17%;
    color: aliceblue;
}

.heading h3 span{
    color:  orchid;
}

.heading a{

        text-decoration: none;
        background-color: rgb(59, 174, 209);
        margin: 20px 0;
        padding: 5px 10px;
        border-radius: 10px;
        display: inline-block;

}

.heading a:hover{

    background: orchid;
}
