

*{

    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(pics/better.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    
}

.navbar{
    
    width: 86%;
    /* background: url(pics/download\ \(1\).jpg); */
    display:flex;
    margin:auto;
    padding:25px;
    /* padding-left: 950px; */
    align-items: center;
    justify-content: space-between;
  

}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
    /* color: black; */
    color:white;

    margin-top: -3%;
}

ul li a:hover{
    color: orchid;
}

.heading{
    margin-left: 7%;
    margin-top: 6%;
    color: aliceblue;
}

.heading h3 span{
    color:  orchid;
}

.heading a{

        text-decoration: none;
        background-color: rgb(59, 174, 209);
        margin: 20px 0;
        padding: 5px 10px;
        border-radius: 10px;
        display: inline-block;

}

.heading a:hover{

    background: orchid;
}

.icons{
    margin-left: 7%;
    margin-top: 1%;

}

.icons a{
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: inline-block;
    color: white;
}
